/* Global Styles */
body, html {
    height: 100%; /* Full height for HTML and body */
    margin: 0;
  }
  
  app-root {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content (fills space), Footer */
    height: 100vh; /* Full height of the viewport */
  }
  
  /* Header */
  app-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: auto; /* Automatically adjusts to its content */
  }
  
  /* Post Page */
  app-post-page {
    overflow-y: auto; /* Scrollable content */
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  /* Footer */
  app-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: auto; /* Automatically adjusts to its content */
  }
  